<ion-header>
  <ion-toolbar>
    <ion-title>Coffee Flavours</ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="refresh()">
        <ion-icon slot="icon-only" name="refresh"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="add()">
        <ion-icon slot="icon-only" name="add"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item *ngFor="let pod of pods">
      <ion-label>
        <h2>{{ pod.Name }}</h2>
        <h3>Product Number: {{ pod.Barcode }}</h3>
      </ion-label>
      <ion-buttons slot="end">
        <ion-button (click)="edit(pod)">
          <ion-icon slot="icon-only" name="create"></ion-icon>
        </ion-button>
        <ion-button (click)="delete(pod)">
          <ion-icon slot="icon-only" name="trash"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-thumbnail slot="end">
        <img [src]="pod.PhotoName">
      </ion-thumbnail>
    </ion-item>
  </ion-list>
</ion-content>