<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-img src="assets/coffee.jpeg"></ion-img>
    </ion-card-header>
    <ion-title>
      <h1 style="color: black;">LOGIN</h1>
    </ion-title>
    <ion-card-content>
      <form #loginForm="ngForm" (ngSubmit)="login()">
        <ion-item>
          <ion-label position="floating">Username</ion-label>
          <ion-input type="text" name="username" [(ngModel)]="username" required></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Password</ion-label>
          <ion-input type="password" name="password" [(ngModel)]="password" required></ion-input>
        </ion-item>
        <p style="text-align: center;">DEV Instructions: Click on arrow icon below...</p>
        <ion-button type="submit" style="width: 50px; border-radius: 30px;" expand="full">
          <ion-icon slot="icon-only" name="arrow-forward"></ion-icon>
        </ion-button>
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>