/* src/app/login/login.page.scss */

/* General styling */
:host {
    ion-content {
        --background: var(--ion-color-custom);
    }
}

.login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 16px;
    text-align: center;
}

.login-title {
    font-size: 24px;
    margin-bottom: 24px;
    color: #ffffff;
}

.login-input {
    margin-bottom: 16px;
    --background: rgba(255, 255, 255, 0.1);
    --color: #ffffff;
    --placeholder-color: rgba(255, 255, 255, 0.6);
    --border-color: rgba(255, 255, 255, 0.3);
}

.login-button {
    width: 100%;
    --background: #ffffff;
    --color: var(--ion-color-custom);
}

ion-text {
    display: block;
    text-align: center;
}

ion-img {
    max-width: 150px;  // Adjust as needed
    max-height: 150px; // Adjust as needed
    display: block;
    margin: 0 auto;
  }
  
