#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

ion-content {
  --background: #ffffff; 
   // Replace with your desired color
}

ion-img {
  max-width: 80%;  // Adjust as needed
  max-height: 80%; // Adjust as needed
  display: block;
  top: 50%;
  margin: 50% auto;
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}