// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {
/** primary **/
--ion-color-primary: #8B4513;
--ion-color-primary-rgb: 139, 69, 19;
--ion-color-primary-contrast: #ffffff;
--ion-color-primary-contrast-rgb: 255, 255, 255;
--ion-color-primary-shade: #7a3b0f;
--ion-color-primary-tint: #a85e1a;
/* src/theme/variables.css */
--ion-color-custom: #8A4B38;

/** secondary **/
--ion-color-secondary: #D2B48C;
--ion-color-secondary-rgb: 210, 180, 140;
--ion-color-secondary-contrast: #000000;
--ion-color-secondary-contrast-rgb: 0, 0, 0;
--ion-color-secondary-shade: #b7a07e;
--ion-color-secondary-tint: #e0cfa1;

/** tertiary **/
--ion-color-tertiary: #A0522D;
--ion-color-tertiary-rgb: 160, 82, 45;
--ion-color-tertiary-contrast: #ffffff;
--ion-color-tertiary-contrast-rgb: 255, 255, 255;
--ion-color-tertiary-shade: #8f4325;
--ion-color-tertiary-tint: #b7643a;

/** success **/
--ion-color-success: #228B22;
--ion-color-success-rgb: 34, 139, 34;
--ion-color-success-contrast: #ffffff;
--ion-color-success-contrast-rgb: 255, 255, 255;
--ion-color-success-shade: #1e7c1e;
--ion-color-success-tint: #399d39;

/** warning **/
--ion-color-warning: #8B4513;
--ion-color-warning-rgb: 139, 69, 19;
--ion-color-warning-contrast: #ffffff;
--ion-color-warning-contrast-rgb: 255, 255, 255;
--ion-color-warning-shade: #7a3b0f;
--ion-color-warning-tint: #a85e1a;

/** danger **/
--ion-color-danger: #B22222;
--ion-color-danger-rgb: 178, 34, 34;
--ion-color-danger-contrast: #ffffff;
--ion-color-danger-contrast-rgb: 255, 255, 255;
--ion-color-danger-shade: #a21f1f;
--ion-color-danger-tint: #c53939;
}
